/*@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width:100vw;
    height:40px;
    display:flex;
    justify-content: space-between;
    background-color: black;
    position: sticky;
    top:0;
}
.blue{
    width:100vw;
    font-family:"Roboto";
    background-color: #529CF1;
    height: 300px;
    padding: 10px;
    padding-top: 100px;
    color: white;

}
.contenedor{
    padding-top: 20px;
}
.boton{
    padding: 10px;
    text-decoration: none;
    background-color: #26B758;
    display: flex;
    justify-content: center;
    width: 200px;
    margin: auto;
    border-radius: 30px;
    color: white;
}
/*.h1{
    font-weight: ;
}*/
.letras{
    padding-top: 50px;
  
}
.white{
    width:100vw;
    font-family:"Roboto";
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding:20px;
    justify-content: space-around;
    text-align: center;
   
}
.why{
justify-content: center;
}
.box{
    display: flex;
    height: 100px;
}
.box p{
    color: #686868;
}

.descarga img{
    width: 100%;
    height: 100%;
}
.benefit-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer{
    width:100vw;
    background-color: black;
    display: block;
    height: 100px;
    color:white;
    padding: 10px;
    font-family: Roboto;
    gap: 100px;
}
.bandera{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
    padding-bottom: 10px;
}
.footer_list{
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;   
}
.footer_list a{
    color: white;
    text-decoration: none;
}
.footer_menu{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}